
<%- include("partials/header"); -%>
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft"><%= blog.name %></h1>
                <small class="text-primary">author - <%= blog.email %></small>
                <p class="text-white animated slideInLeft mb-4 pb-2"><%= blog.recipe %></p>
            </div>
        </div>
    </div>
</div>
</div>
<%- include("partials/footer"); -%>